<p>Student payment</p>
<p>{{studentCode}}</p>
<div class="container">
    <mat-toolbar>
        <button (click)="newPayment()" mat-raised-button color="primary">New payment</button>
    </mat-toolbar>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Student payment {{studentCode}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
                    <!--- pour faire avec le tableau classique
            <div>
        
 <table class="table">
            <thead>
                <tr>
                    <th>ID</th> <th>First namne</th> <th>Lats name</th> <th>Code</th> <th>Program Id</th> <th>ID</th> <th>ID</th> <th>ID</th>
                </tr>
            </thead>

        </table>
            </div>
            --->
           
            <table mat-table [dataSource]="paymentsDataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> N° </th>
                    <td mat-cell *matCellDef="let payment"> {{payment.id}} </td>
                </ng-container>

                <!-- date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> date </th>
                    <td mat-cell *matCellDef="let payment"> {{payment.date | date:'dd/MM/yyyy'}} </td><!-- Format européen -->
                </ng-container>

                <!-- amount Column -->
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> amount </th>
                    <td mat-cell *matCellDef="let payment"> {{payment.amount}} </td>
                </ng-container>

                <!-- type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> type </th>
                    <td mat-cell *matCellDef="let payment"> {{payment.type}} </td>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> status </th>
                    <td mat-cell *matCellDef="let payment"> {{payment.status}} </td>
                </ng-container>

                <!-- firstName Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> firstName </th>
                    <td mat-cell *matCellDef="let payment"> {{payment.student.firstName}} </td>
                </ng-container>

                 <!-- invoice Column -->
                <ng-container matColumnDef="invoice">
                    <th mat-header-cell *matHeaderCellDef>Invoice</th>
                    <td mat-cell *matCellDef="let payment"> 
                        <button (click)="paymentInvoice(payment)" mat-raised-button color="primary">Invoice</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
             
        </mat-card-content>
    </mat-card>
</div>
